name: React Functional Component (FC) with Module CSS Stylesheet
shorts:
  - fcv
  - fcvanilla
variables:
  - name: name
    message: Component Name
    default: MyComponent
  - name: stylesheet
    message: Stylesheet File name
    default: "{{ camelCase name }}"
===== ./{{ kebabCase name }}.tsx
import { FC } from "react";
import * as styles from "./{{ kebabCase stylesheet }}.css";

export const {{ pascalCase name }}: FC<{}> = ({}) => {
  return (
    <div className={styles.container}>
      hello
    </div>
  );
};

===== ./{{ kebabCase stylesheet }}.css
.container {
}
