name: React Functional Component (FC) with external Vanilla Extract Stylesheet
shorts:
  - fcv
  - fcvanilla
variables:
  - name: name
    message: Component Name
    default: MyComponent
  - name: stylesheet
    message: Stylesheet File name
    default: "{{ pascalCase name }}"
files:
  jest:
    import: ./react-fc.hbs:jest
  vitest:
    import: ./react-fc.hbs:vitest
===== component:./{{ kebabCase name }}.tsx
import { FC } from "react";
import * as styles from "./{{ kebabCase stylesheet }}.css.ts";

export const {{ pascalCase name }}: FC<{}> = ({}) => {
  return (
    <div className={styles.container}>
      hello
    </div>
  );
};

===== stylesheet:./{{ kebabCase stylesheet }}.css.ts
import { style } from "@vanilla-extract/css";

export const container = style({
  backgroundColor: "red",
});

===== jest:./{{ kebabCase stylesheet }}.css
===== vitest:./{{ kebabCase stylesheet }}.css
